
{{> head }}

{{> navbar }}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">

      <div class="col-4">
        <img class="img-octocat" src="./assets/images/github-octocat-logo-vector-png-png-ico-icns-svg-more-512.png" alt="octocat">
      </div>
      <div class="col-8 aling-center">
          
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ducimus inventore similique, odit quas consectetur labore voluptatibus cupiditate pariatur eum natus sapiente in, architecto repellat assumenda incidunt, dicta aliquam debitis.
          
      </div> 
      </div>
    </div>
  </div>


{{> footer }}